Repository stephen-h-d/pyalgoviz: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, tsc, lint

mypy:
  name: mypy
  stages:
  - commit
  language: python
  entry: mypy
  pass_filenames: false

tsc:
  name: tsc
  stages:
  - commit
  language: node
  entry: pnpm run tsc --noEmit
  pass_filenames: false

lint:
  name: lint
  stages:
  - commit
  language: node
  entry: pnpm run lint
  pass_filenames: false

progress twds algo/viz log
  src/edit3.tsx
  src/exec_result.ts
  src/solid_load_dialog.tsx
Due: tsc, lint

fix up viz error logging
  src/edit3.tsx
  src/exec_result.ts
  src/executor.ts
Due: tsc, lint

small cleanup
  public/favicon.ico
  src/authSignal.ts
  src/edit3.tsx
  src/solid_load_dialog.tsx
  vite.config.ts
Due: tsc, lint

mark TODOs complete
  TODO.md
Due: none

Move Executor definition
  package.json
  requirements.in
  requirements.txt
  server/app.py
  server/db/gsdb.py
  shared/__init__.py
  shared/executor.py
  src/edit3.tsx
  src/exec_result.ts
  src/executor.ts
  src/solid_load_dialog.tsx
  vite.config.ts
Due: mypy, tsc, lint

start improving log efficiency
  TODO.md
  requirements.in
  requirements.txt
  server/run_script.py
  shared/executor.py
  src/LogManager.ts
  src/edit3.tsx
Due: mypy, tsc, lint

set up testing
  jest.config.cjs
  package.json
  src/LogManager.test.ts
Due: tsc, lint

make tests pass
  src/LogManager.test.ts
  src/LogManager.ts
Due: tsc, lint

fix logging for the most part
  shared/executor.py
  src/LogManager.ts
  src/edit3.tsx
  src/executor.ts
Due: mypy, tsc, lint

update TODOs
  TODO.md
Due: none

fix some but not all precommit stuff
  .prettierrc
  TODO.md
  jest.config.cjs
  server/middleware.py
  src/LogManager.ts
Due: mypy, tsc, lint

add some estimates, fix some mypy errors
  TODO.md
  server/run_script.py
  shared/executor.py
  src/edit3.tsx
Due: mypy, tsc, lint

start fixing up server side run
  server/app.py
  server/run_script.py
  shared/executor.py
Due: mypy

add run locally checkbox
  src/edit3.tsx
Due: tsc, lint

make run remotely work
  README.md
  server/app.py
  server/run_script.py
  shared/executor.py
  src/edit3.tsx
  src/executor.ts
  src/fetchJson.ts
  src/solid_load_dialog.tsx
Due: mypy, tsc, lint

fix running locally -- both work now
  shared/executor.py
Due: mypy

wip getting cached_events to work
  TODO.md
  server/app.py
  server/db/gsdb.py
  server/db/models.py
  shared/executor.py
  src/fetchJson.ts
Due: mypy, tsc, lint

very much a wip; added more linting
  .eslintrc.cjs
  package.json
  server/app.py
  server/db/gsdb.py
  src/CheckBox.tsx
  src/edit3.tsx
  src/postJson.ts
  src/solid_load_dialog.tsx
Due: mypy, tsc, lint

rm airbnb, run lint --fix
  .eslintrc.cjs
  src/EnumSelect.tsx
  src/LogManager.test.ts
  src/Tab.tsx
  src/VizOutput.ts
  src/auth.ts
  src/authSignal.ts
  src/editor.ts
  src/editor_theme.ts
  src/login.ts
  src/postJson.ts
  src/py-worker.ts
  src/solid_load_dialog.css.ts
  src/vizEvents.ts
Due: tsc, lint

add solid plugin, run lint --fix
  .eslintrc.cjs
  package.json
  src/CheckBox.tsx
  src/EnumSelect.tsx
  src/edit3.tsx
  src/solid_load_dialog.tsx
Due: tsc, lint

fix some of the litn errors
  src/CheckBox.tsx
  src/edit3.tsx
  src/solid_load_dialog.tsx
Due: tsc, lint

fix some more of the lint errors
  src/edit3.tsx
  src/exec_result.ts
  src/executor.ts
  src/login.ts
  src/solid_load_dialog.tsx
Due: tsc, lint

fix more lint problems
  src/CheckBox.tsx
  src/EnumSelect.tsx
  src/edit3.tsx
  src/solid_load_dialog.tsx
Due: tsc, lint

fix most lint problems
  src/EnumSelect.tsx
  src/LogManager.ts
  src/edit3.tsx
Due: tsc, lint

fix remaining lint issues
  src/EnumSelect.tsx
  src/LogManager.test.ts
  src/Tab.tsx
  src/VizOutput.ts
  src/auth.ts
  src/executor.ts
  src/postJson.ts
  src/py-worker.ts
  src/vizEvents.ts
  tsconfig.json
  types/custom.d.ts
Due: tsc, lint

get pre-commit passing
  .pre-commit-config.yaml
  package.json
  server/app.py
  server/db/gsdb.py
  server/db/mdb.py
  server/run_script.py
  shared/executor.py
Due: mypy

fix caching events
  server/db/gsdb.py
  server/db/models.py
Due: mypy

small progress twds front page
  server/app.py
  server/db/gsdb.py
  src/postJson.ts
  src/solid_load_dialog.tsx
Due: mypy, tsc, lint

wip makign front page
  index.html
  server/db/gsdb.py
  src/EventNavSubjects.tsx
  src/edit3.tsx
  src/index.css.ts
  src/index.tsx
  src/vizEvents.ts
Due: mypy, tsc, lint

clean up server models a bit
  server/app.py
  server/db/gsdb.py
  server/db/mdb.py
  server/db/models.py
  server/db/protocol.py
  src/index.tsx
Due: mypy, tsc, lint

fix a couple but not all lints
  src/edit3.tsx
  src/index.tsx
  src/vizEvents.ts
Due: tsc, lint

running locally works
  shared/executor.py
  src/executor.ts
Due: mypy, tsc, lint

running locally works; cleaned up code a bit
  shared/executor.py
  src/executor.ts
Due: mypy, tsc, lint

fix minor precommit issues
  src/edit3.tsx
  src/index.tsx
Due: tsc, lint

add fake entries to memory database
  TODO.md
  server/app.py
  server/db/mdb.py
  src/index.tsx
Due: mypy, tsc, lint

wip making front page
  server/db/mdb.py
  shared/executor.py
  src/VizOutput.ts
  src/index.tsx
  src/vizEvents.ts
Due: mypy, tsc, lint

render consistent size on front page
  server/app.py
  server/db/mdb.py
  shared/executor.py
  src/VizOutput.ts
  src/index.tsx
Due: mypy, tsc, lint

basic front page working
  server/db/models.py
  src/EventNavSubjects.tsx
  src/VizOutput.ts
  src/index.tsx
  src/vizEvents.ts
Due: mypy, tsc, lint

update TODO.md
  TODO.md
Due: none

Path conditions:
  mypy: any of: (\.py|\.pyi)$
  tsc: any of: (\.ts|\.tsx)$
  lint: any of: (\.ts|\.tsx)$
