Repository stephen-h-d/pyalgoviz: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, tsc, lint

mypy:
  name: mypy
  stages:
  - commit
  language: python
  entry: mypy
  pass_filenames: false

tsc:
  name: tsc
  stages:
  - commit
  language: node
  entry: pnpm run tsc --noEmit
  pass_filenames: false

lint:
  name: lint
  stages:
  - commit
  language: node
  entry: pnpm run lint
  pass_filenames: false

start to get things set up / working
  package.json
  src/py-worker.ts
  vite.config.ts
Due: tsc, lint

fix bundling omission
  src/VizOutput.ts
Due: tsc, lint

fix some links
  public/edit3.html
Due: none

try to build a release here
  .gitignore
  dist/assets/edit3-6b94a84b.css
  dist/assets/index-79c3c6c6.css
  dist/assets/main-6a3feaf1.js
  dist/assets/public-2a4885af.js
  dist/assets/vizEvents-dbd1fc88.js
  dist/dialog_test.html
  dist/edit.html
  dist/edit2.html
  dist/edit3.html
  dist/faux.html
  dist/favicon.ico
  dist/index.html
  dist/login.html
  dist/mgrid.html
  dist/public/edit3.html
  dist/runner_test.html
  dist/solid_dialog_test.html
  src/auth.ts
  src/authSignal.ts
  src/edit3.tsx
  src/login.ts
  vite.config.ts
Due: tsc, lint

rm dist
  .gitignore
  dist/assets/edit3-6b94a84b.css
  dist/assets/index-79c3c6c6.css
  dist/assets/main-6a3feaf1.js
  dist/assets/public-2a4885af.js
  dist/assets/vizEvents-dbd1fc88.js
  dist/dialog_test.html
  dist/edit.html
  dist/edit2.html
  dist/edit3.html
  dist/faux.html
  dist/favicon.ico
  dist/index.html
  dist/login.html
  dist/mgrid.html
  dist/public/edit3.html
  dist/runner_test.html
  dist/solid_dialog_test.html
Due: none

rebuild with correct base
  assets/main-6a3feaf1.js
  assets/main-d1bcf8ee.js
  assets/public-29cd3c13.js
  assets/public-2a4885af.js
  assets/vizEvents-931b8503.js
  assets/vizEvents-dbd1fc88.js
  index.html
  public/edit3.html
Due: none

rebuilt with correct base for py-worker
  assets/public-2a4885af.js
  assets/public-aa6e4f3d.js
  index.html
  public/edit3.html
  pyodide-0.21.3/fonts/LICENSE_DEJAVU
  pyodide-0.21.3/pyodide.d.ts
  pyodide-0.21.3/pyodide.js.map
  pyodide-0.21.3/pyodide.mjs.map
  pyodide-0.21.3/tsconfig.tsbuildinfo
Due: tsc, lint

fix weird dependency issue (impl bug)
  package.json
Due: none

rebuilt with impl depengency bug fix
  assets/edit3-6b94a84b.css
  assets/index-2d951927.css
  assets/index-79c3c6c6.css
  assets/main-6a3feaf1.js
  assets/main-ec7c1b0a.js
  assets/public-aa6e4f3d.js
  assets/vizEvents-dbd1fc88.js
  index.html
  public/edit3.html
Due: none

undo accidental changes
  assets/main-ec7c1b0a.js
  index.html
Due: none

built small changes to clarify things
  assets/main-4f818a15.js
  index.html
  public/edit3.html
Due: none

setting things up to run on Docker
  .gitignore
  README.md
  server/.dockerignore
  server/Dockerfile
  server/main/__init__.py
  server/main/app.py
  server/main/db/__init__.py
  server/main/db/gsdb.py
  server/main/db/mdb.py
  server/main/db/models.py
  server/main/db/protocol.py
  server/main/middleware.py
  server/main/run_script.py
  server/requirements.in
  server/requirements.txt
  server/shared/__init__.py
  server/shared/executor.py
  src/executor.ts
  vite.config.ts
Due: mypy, tsc, lint

various changes. fixed proxy config bug.
  README.md
  TODO.md
  build.sh
  server/main/app.py
  src/VizOutput.ts
  src/edit3.tsx
  src/index.tsx
  src/solid_load_dialog.tsx
  vite.config.ts
Due: mypy, tsc, lint

put /api/ routing back in
  server/main/app.py
  vite.config.ts
Due: mypy, tsc, lint

working load of memorydb from json
  server/main/app.py
  server/main/cached_demo_db.json
  server/main/db/gsdb.py
  server/main/db/mdb.py
Due: mypy

impl filtering events
  README.md
  TODO.md
  build.sh
  src/VizOutput.ts
  src/index.tsx
  src/vizEvents.ts
Due: tsc, lint

most of deploying working besides routing
  README.md
  build.sh
  package.json
  server/main/app.py
  server/main/db/gsdb.py
  server/main/db/mdb.py
  src/VizOutput.ts
  vite.config.ts
Due: mypy, tsc, lint

set up solidjs routing
  index.html
  src/Edit.tsx
  src/ScriptDemos.tsx
  src/index.tsx
Due: tsc, lint

fix serving static assets
  server/main/app.py
  server/shared/executor.py
  src/Edit.tsx
  src/VizOutput.ts
  src/py-worker.ts
  vite.config.ts
Due: mypy, tsc, lint

improve/fix README.md
  README.md
Due: none

update README. fix cached_demo_db
  README.md
  server/main/cached_demo_db.json
Due: none

update codemirror dependencies
  package.json
Due: none

rm old HTML files. improve README
  README.md
  public/dialog_test.html
  public/edit.html
  public/edit2.html
  public/edit3.html
  public/faux.html
  public/login.html
  public/mgrid.html
  public/runner_test.html
  public/solid_dialog_test.html
  src/Edit.tsx
Due: tsc, lint

update TODOs
  TODO.md
Due: none

install missing dependency; improve pyodide_setup.sh
  TODO.md
  package.json
  pyodide_setup/setup_pyodide.sh
  src/Edit.tsx
  src/editor.ts
Due: tsc, lint

Show algo name in Header
  README.md
  TODO.md
  run_backend.sh
  src/Edit.tsx
  src/solid_load_dialog.tsx
Due: tsc, lint

check if name exists before saving
  run_backend.sh
  src/solid_load_dialog.tsx
Due: tsc, lint

wip
  TODO.md
  src/Edit.tsx
  src/solid_load_dialog.tsx
Due: tsc, lint

Improve saving, display of script name
  TODO.md
  server/main/app.py
  server/main/db/gsdb.py
  server/main/db/mdb.py
  server/main/db/protocol.py
  src/Edit.tsx
  src/VizOutput.ts
Due: mypy, tsc, lint

Make saveDisabled() function work properly
  package.json
  src/CheckBox.tsx
  src/Edit.tsx
  src/ScriptDemos.tsx
  src/auth.ts
  src/editor.ts
  src/vizEvents.ts
Due: tsc, lint

fix app.py mypy errors
  server/main/app.py
  server/main/db/gsdb.py
  server/main/db/mdb.py
  server/main/db/protocol.py
  server/main/middleware.py
Due: mypy

rm a complete TODO
  TODO.md
Due: none

do warning dialog for unsaved, other stuff
  README.md
  TODO.md
  package.json
  src/Edit.tsx
  src/solid_load_dialog.tsx
Due: tsc, lint

fix remaining mypy issues
  server/main/app.py
  server/main/db/gsdb.py
  server/main/db/mdb.py
Due: mypy

start to get linting working
  .eslintrc.cjs
  eslint.config.mjs
  package.json
  tsconfig.json
Due: none

get eslint solid plugin working
  eslint.config.mjs
Due: none

fix ESLint problems but not TSC problems
  src/CheckBox.tsx
  src/Edit.tsx
  src/ScriptDemos.tsx
  src/VizOutput.ts
  src/editor.ts
  src/login.ts
  src/py-worker.ts
  src/solid_load_dialog.tsx
Due: tsc, lint

fix TSC problems
  src/Edit.tsx
  src/rollup-plugin-string.d.ts
Due: tsc, lint

fix all remaining precommit issues
  server/main/db/protocol.py
  src/ScriptDemos.tsx
  src/VizOutput.ts
  src/editor.ts
  src/login.ts
  src/py-worker.ts
  src/solid_load_dialog.tsx
Due: mypy, tsc, lint

Path conditions:
  mypy: any of: (\.py|\.pyi)$
  tsc: any of: (\.ts|\.tsx)$
  lint: any of: (\.ts|\.tsx)$
