Repository stephen-h-d/pyalgoviz: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, tsc, lint

mypy:
  name: mypy
  stages:
  - commit
  language: python
  entry: mypy
  pass_filenames: false

tsc:
  name: tsc
  stages:
  - commit
  language: node
  entry: pnpm run tsc --noEmit
  pass_filenames: false

lint:
  name: lint
  stages:
  - commit
  language: node
  entry: pnpm run lint
  pass_filenames: false

improve login/auth, build.sh
  TODO.md
  build.sh
  src/auth.ts
  src/login.ts
Due: tsc, lint

add tests of needs caching, cache events
  TODO.md
  server/main/db/test_db.py
Due: mypy

Add display_name to User
  TODO.md
  server/main/db/fsdb.py
  server/main/db/mdb.py
  server/main/db/models.py
  server/main/db/test_db.py
Due: mypy

Add author display name to MemoryDb
  server/main/app.py
  server/main/cached_demo_db.json
  server/main/db/cache_events.py
  server/main/db/fsdb.py
  server/main/db/mdb.py
  server/main/db/models.py
  server/main/db/protocol.py
  server/main/db/test_db.py
  src/ScriptDemos.tsx
  src/solid_load_dialog.tsx
Due: mypy, tsc, lint

wip adding display name dialog and refactoring things
  TODO.md
  server/main/app.py
  server/main/cached_demo_db.json
  server/main/middleware.py
  src/DuplicateNameDialog.tsx
  src/Edit.tsx
  src/ErrorDialog.tsx
  src/SuccessDialog.tsx
  src/UpdateDisplayName.tsx
  src/WarningDialog.tsx
  src/solid_load_dialog.tsx
Due: mypy, tsc, lint

wip adding display name dialog and refactoring things; almost there
  src/Edit.tsx
  src/SaveScriptDialog.tsx
  src/UpdateDisplayName.tsx
  src/fetchScriptNames.ts
  src/global.d.ts
  src/solid_load_dialog.tsx
  src/text_input.tsx
Due: tsc, lint

adding display name dialog and refactoring things; need to fix styles but otherwise it appears to work
  server/main/app.py
  server/main/cached_demo_db.json
  server/main/db/fsdb.py
  server/main/db/mdb.py
  server/main/db/protocol.py
  src/Edit.tsx
  src/ErrorDialog.tsx
  src/SaveScriptDialog.tsx
  src/SuccessDialog.tsx
  src/UpdateDisplayName.tsx
  src/authSignal.ts
  src/edit3.css.ts
Due: mypy, tsc, lint

Refactor dialogs to be in sepate files
  TODO.md
  src/Dialogs/ErrorDialog.tsx
  src/Dialogs/SaveScriptDialog.tsx
  src/Dialogs/SuccessDialog.tsx
  src/Dialogs/UpdateDisplayName.tsx
  src/Edit.tsx
  src/Tab.tsx
  src/index.tsx
  src/login.ts
  src/solid_load_dialog.tsx
  src/styles.css.ts
Due: tsc, lint

Refactor dialogs some more
  server/main/cached_demo_db.json
  src/Dialogs/BasicDialog.tsx
  src/Dialogs/Dialog.tsx
  src/Dialogs/ErrorDialog.tsx
  src/Dialogs/LoadScriptDialog.css.ts
  src/Dialogs/LoadScriptDialog.tsx
  src/Dialogs/SaveScriptDialog.tsx
  src/Dialogs/SuccessDialog.tsx
  src/Dialogs/UpdateDisplayName.tsx
  src/Edit.tsx
  src/styles.css.ts
Due: tsc, lint

update TODO.md
  TODO.md
Due: none

fix up dialogs
  TODO.md
  server/main/app.py
  server/main/cached_demo_db.json
  src/Dialogs/BasicDialog.tsx
  src/Dialogs/LoadScriptDialog.tsx
  src/Dialogs/WarningDialog.tsx
  src/DuplicateNameDialog.tsx
  src/Edit.tsx
  src/WarningDialog.tsx
Due: mypy, tsc, lint

Fix basic dialog CSS
  src/Dialogs/BasicDialog.tsx
Due: tsc, lint

Fix odds and ends; update TODO.md
  TODO.md
  server/main/app.py
  server/main/cached_demo_db.json
  server/main/db/fsdb.py
  server/main/db/mdb.py
  src/Dialogs/WarningDialog.tsx
  src/ScriptDemos.tsx
  src/styles.css.ts
Due: mypy, tsc, lint

fix display name refresh bug
  TODO.md
  src/auth.ts
  src/authSignal.ts
  src/login.ts
Due: tsc, lint

Path conditions:
  mypy: any of: (\.py|\.pyi)$
  tsc: any of: (\.ts|\.tsx)$
  lint: any of: (\.ts|\.tsx)$
