Repository stephen-h-d/pyalgoviz: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, tsc, lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/psf/black
    rev: 22.1.0
    hooks:
    -   id: black
        stages: [commit]
-   repo: https://github.com/MarcoGorelli/absolufy-imports
    rev: v0.3.1
    hooks:
    -   id: absolufy-imports
        name: "absolufy imports"
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v3.0.1
    hooks:
    -   id: reorder-python-imports
        name: "reorder python imports"
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        files: (\.py|\.pyi)$
        stages: [commit]
        language: python
        entry: 'mypy'
        pass_filenames: false
-   repo: local
    hooks:
    -   id: tsc
        name: tsc
        stages: [commit]
        language: node
        files: (\.ts|\.tsx)$
        entry: 'pnpm run tsc --noEmit'
        pass_filenames: false
-   repo: local
    hooks:
    -   id: lint
        name: lint
        stages: [commit]
        language: node
        files: (\.ts|\.tsx)$
        entry: 'pnpm run lint'
        pass_filenames: false
-   repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.13
    hooks:
    -   id: forbid-tabs
        name: "forbid tabs"
        stages: [commit]
    -   id: remove-tabs
        name: "remove tabs"
        stages: [commit]
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: trailing-whitespace
        stages: [commit]
    -   id: end-of-file-fixer
        stages: [commit]
    -   id: check-yaml
        stages: [commit]
    -   id: check-added-large-files
        stages: [commit]
    -   id: check-merge-conflict
        stages: [commit]
-   repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
    -   id: autoflake
        name: autoflake
        args: ["--in-place", "--remove-unused-variables", "--remove-all-unused-imports"]
        language: python
        files: \.py$
        exclude: 'scratch'
-   repo: https://github.com/PyCQA/flake8
    rev: 3.9.2
    hooks:
    - id: flake8
      stages: [commit]
#      args: ["--config=.flake8"]

Add auto-play option
  TODO.md
  server/main/app.py
  server/main/db/mdb.py
  src/Edit.tsx
  src/vizEvents.ts
Due: mypy, tsc, lint

fix auto-play
  src/CheckBox.tsx
  src/Edit.tsx
Due: tsc, lint

rm some TODOs, add one
  TODO.md
Due: none

do normal line highlighting
  TODO.md
  server/shared/executor.py
  src/Edit.tsx
  src/editor.ts
Due: mypy, tsc, lint

Fix the 500 error when a script does a normal failure
  TODO.md
  server/main/run_script.py
  server/shared/executor.py
Due: mypy

db wip
  TODO.md
  server/main/api_types.py
  server/main/app.py
  server/main/db/gsdb.py
  server/main/db/mdb.py
  server/main/db/models.py
  server/main/db/protocol.py
Due: mypy

everything is a mess
  README.md
  server/main/db/fsdb.py
  server/main/db/test_db.py
  server/requirements.in
  server/requirements.txt
Due: mypy

start to get things more sane
  server/main/app.py
  server/main/db/fsdb.py
  server/requirements.in
Due: mypy

add to README
  README.md
Due: none

fix mypy failure(s)
  server/main/db/gsdb.py
Due: mypy

Get started with firestore
  README.md
  run_backend.sh
  server/Dockerfile
  server/main/db/fsdb.py
  server/main/db/test_db.py
Due: mypy

wip. need to rewrite fsdb
  server/main/db/fsdb.py
  server/main/db/test_db.py
Due: mypy

rework database protocol
  server/main/app.py
  server/main/db/fsdb.py
  server/main/db/gsdb.py
  server/main/db/mdb.py
  server/main/db/models.py
  server/main/db/protocol.py
  server/main/db/test_db.py
Due: mypy

make firestore db work
  server/main/app.py
  server/main/db/fsdb.py
  server/main/db/gsdb.py
Due: mypy

Make progress showing algorithm summaries
  server/main/app.py
  src/Edit.tsx
  src/solid_load_dialog.tsx
Due: mypy, tsc, lint

work on cached demo db loading
  server/main/app.py
  server/main/cached_demo_db.json
  server/main/db/mdb.py
  server/main/db/models.py
  server/main/db/test_db.py
  server/main/middleware.py
Due: mypy

Fix loading, fix pre-commit
  TODO.md
  server/main/app.py
  server/main/db/mdb.py
  server/main/db/models.py
  src/solid_load_dialog.tsx
Due: mypy, tsc, lint

fix caching memory db
  run_backend.sh
  server/main/app.py
  server/main/cached_demo_db.json
  server/main/db/mdb.py
Due: mypy

wip running Gaussian on server
  TODO.md
  server/main/app.py
  server/main/cached_demo_db.json
  server/main/db/mdb.py
  server/main/run_script.py
  src/vizEvents.ts
Due: mypy, tsc, lint

rm run remotely option
  TODO.md
  server/main/app.py
  server/main/db/mdb.py
  src/Edit.tsx
Due: mypy, tsc, lint

verify login
  TODO.md
  server/main/app.py
  server/main/cached_demo_db.json
  src/Edit.tsx
  src/ScriptDemos.tsx
  src/auth.ts
  src/authSignal.ts
  src/edit3.css.ts
  src/login.ts
  src/solid_load_dialog.tsx
Due: mypy, tsc, lint

Handle auth errors in postJson
  TODO.md
  src/Edit.tsx
  src/login.ts
  src/postJson.ts
  src/solid_load_dialog.tsx
Due: tsc, lint

various cleanup
  TODO.md
  server/main/cached_demo_db.json
  server/shared/executor.py
  src/Edit.tsx
  src/LogManager.ts
Due: mypy, tsc, lint

Improve error reporting
  TODO.md
  server/shared/executor.py
  src/Edit.tsx
  src/LogManager.ts
Due: mypy, tsc, lint

wip
  TODO.md
  src/Edit.tsx
  src/exec_result.ts
Due: tsc, lint

highlight all types of error lines
  TODO.md
  server/shared/executor.py
  src/Edit.tsx
  src/LogManager.test.ts
  src/exec_result.ts
Due: mypy, tsc, lint

Show toast notifications for Pyodide loading
  TODO.md
  package.json
  src/Edit.tsx
Due: tsc, lint

Use top-level paths
  run_backend.sh
  server/main/app.py
  server/main/db/fsdb.py
  server/main/db/mdb.py
  server/main/db/protocol.py
  server/main/db/test_db.py
  server/main/middleware.py
Due: mypy

Add testing instructions
  README.md
Due: none

Clear firestore test db before testing
  server/main/app.py
  server/main/db/fsdb.py
  server/main/db/test_db.py
Due: mypy

Use service account and "unit-test" database
  README.md
  run_backend.sh
  server/main/app.py
  server/main/db/fsdb.py
  server/main/db/test_db.py
  server/requirements.in
  server/requirements.txt
Due: mypy

rm unneeded code
  server/main/middleware.py
Due: mypy

test new memorydb and firestore changes
  server/main/app.py
  server/main/db/fsdb.py
  server/main/db/mdb.py
  server/main/db/models.py
  server/main/db/protocol.py
  server/main/db/test_db.py
  src/solid_load_dialog.tsx
Due: mypy, tsc, lint

Add cache_events utility
  TODO.md
  server/main/app.py
  server/main/cached_demo_db.json
  server/main/db/cache_events.py
  server/main/db/fsdb.py
  server/main/db/mdb.py
  server/main/db/protocol.py
  server/main/db/test_db.py
  server/main/middleware.py
  server/main/run_script.py
  server/requirements.in
  src/solid_load_dialog.tsx
Due: mypy, tsc, lint

Start to style main page
  TODO.md
  server/main/cached_demo_db.json
  server/main/db/cache_events.py
  server/main/db/models.py
  server/main/run_script.py
  src/ScriptDemos.tsx
  src/index.css.ts
Due: mypy, tsc, lint

Add title to main page
  src/ScriptDemos.tsx
  src/scriptdemos.css.ts
Due: tsc, lint

Continue tweaking the main page
  server/main/cached_demo_db.json
  src/ScriptDemos.tsx
  src/scriptdemos.css.ts
Due: tsc, lint

cache events better
  server/main/cached_demo_db.json
Due: none

this deployed to google cloud run ok but
  Dockerfile
  Procfile
  build.sh
  requirements.in
  requirements.txt
  run_backend.sh
  server/Dockerfile
  server/main/app.py
  server/main/db/cache_events.py
  server/main/db/fsdb.py
  server/main/db/test_db.py
  server/main/middleware.py
  src/Edit.tsx
  src/login.ts
Due: mypy, tsc, lint

add .gcloudignore
  .gcloudignore
Due: none
